<section class="todoapp">
  <header class="header">
    <h1>todos</h1>
    <input class="new-todo" placeholder="What needs to be done?" autofocus="">
  </header>
  <section class="main">
    <ul class ="todo-list">
      <li>
        <div class="view">
          <input class="toggle" type="checkbox">
          <label>Do Laundry</label>
        </div>
      </li>
      <li>
        <div class="view">
          <input class="toggle" type="checkbox">
          <label>Make bed</label>
        </div>
      </li>      
    </ul>
  </section>
</section>

<script>
  $(function() {
    console.log("Hello, JavaScript");
  });
</script>